<%- include("partials/header") -%>
<h1><b>Home</b></h1>
<p><%=_homeContent%></p>
<% _posts.forEach((post) => { %>
    <h1><%= post.postTitle %> </h1>
    <p><%= post.postBody.substring(0, 100) %>...<a href="/posts/<%=post.postTitle%>">Read More</a></p>
<% }) %>
    
<%- include("partials/footer") -%> 